<br>
<button mat-flat-button color="primary"
  class="btn-add" [routerLink]="['/addprodutcs']">
 Adicionar Produto
</button>

<!-- <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Data Inclusão</th>
      <th>Usuário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getProdutoList$">
      <td>{{item.id}}</td>
      <td>{{item.nome}}</td>
      <td>{{item.dataInclusao}}</td>
      <td>{{item.usuarioInclusao}}</td>
    </tr>
  </tbody>
</table> -->

<table mat-table [dataSource]="produtos" class="mat-elevation-z8"
  [hidden]="!produtos"
  matSort (matSortChange)="loadData()"
  [matSortActive]="defaultSortColumn"
  [matSortDirection]="defaultSortOrder">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let produto">{{produto.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
    <td mat-cell *matCellDef="let produto">
      <a [routerLink]="['/city', produto.id]">{{produto.nome}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="dataInclusao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Inclusão</th>
    <td mat-cell *matCellDef="let produto">{{produto.dataInclusao}}</td>
  </ng-container>

  <ng-container matColumnDef="usuarioInclusao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</th>
    <td mat-cell *matCellDef="let produto">{{produto.usuarioInclusao}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination directive -->
<mat-paginator [hidden]="!produtos"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons></mat-paginator>


